body {
    font-family: Arial, sans-serif;
}
dl {
    background-color: #f4f4f4;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border: 1px solid #ccc;
}
dt {
    font-weight: bold;
    font-size: 18px;
}
dd {
    margin: 0;
    margin-left: 20px;
}
ol {
    padding-left: 20px;
}
li {
    margin-bottom: 5px;
}