.lf{
    width: 300px;
    background-color: rgb(42, 82, 114);
    border-radius: 5%;
    margin: 10px;
}
img{
    height: 200px;
    width: 300px;
    display: inline-block;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}
.text{
    display: block;
    text-align: end;
    color: white;
    padding: 15px;
}
.photo{
    float: right;
    position: fixed;
    top:0;
    right: 0;
}
.text1{
    width: 70%;
}
@media screen and (max-width: 800px)and (min-width: 600px) {
    .photo{
        position:relative;
        float: none;
    }
    .text1{
        width: 100%;
    }
    .lf{
        display: inline-block;
        vertical-align: top;
    }
}
@media screen and (max-width: 600px) {
    .photo{
        position:relative;
        float: none;
    }
    .text1{
        width: 100%;
    }
    .lf{
        display: block;
    }
 }