.input{
    width:80%;
    border: none;
    border-bottom: 1px black solid;
    padding: 10px;
}
.input1{
    width:35%;
    border: none;
    border-bottom: 1px black solid;
    padding: 10px;
    margin-right: 5%;
}
.input1_1{
    width:35%;
    border: none;
    border-bottom: 1px black solid;
    padding: 10px;
    margin-right: 5%;
}
.input1_2{
    width:35%;
    border: none;
    border-bottom: 1px black solid;
    padding: 10px;
    margin-right: 5%;
}
.input2{
    width:40%;
    border: none;
    border-bottom: 1px black solid;
    padding: 10px;
    margin-right: 5%;
}
.back1{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.back{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 100%;
    margin: 5%;
    overflow:hidden;
    margin-top: 20px;
}
img{
    width: 5%;
    height: 10%;
    }
.registr{
    padding: 20px;
    padding-right: 0px;
}
.details{
    padding: 20px;
}
.checkbox1{
    margin-left: 20px;
}
button{
    background-color: rgb(41, 173, 162);
    border: none;
    border-radius: 2%;
    margin: 20px;
    padding: 10px;
    width:20%;
    color:white;
    float: right;
}
@media screen and (max-width: 900px)and (min-width: 600px) {
.back1{
    display: block;
}
}
@media screen and (max-width: 600px) {
    .back1{
        display: block;
    }
    .input2{
        display: block;
        width: 95%;
    }
    .input{
        width: 80%;
    }
    .input1{
        display: block;
        width: 90%;
    }
    .input1_1{
        width: 80%;
    }
    .input1_2{
        margin-left: 5%;
        width: 80%;
    }
}